.landing-description {
    width: 50%;

    @media (max-width: 1200px) {
        width: 100%;
        min-height: 477px;
        max-height: max-content;
    }

    &-content {
        color: color(tertiary);
        width: 80%;
        margin-left: 50%;
        margin-top: 40%;
        transform: translate(-50%, -40%);

        @media (max-width: 1200px) {
            position: relative;
            margin-top: 20%;
            transform: translate(-50%, -30%);
        }

        @media (max-width: 900px) {
            margin-top: 30%;
        }

        @media (max-width: 500px) {
            margin-top: 50%;
        }

        &-heading {
            display: flex;

            &-id {
                font-size: 1.3rem;
                font-family: Butler-Bold;
                -webkit-animation: .2s ease-out .2s 1 slideInFromBottomHeadings;
                animation: .2s ease-out .2s 1 slideInFromBottomHeadings;
                animation-fill-mode: both;

                @media (max-width: 1200px) {
                    font-size: .95rem;
                    margin-top: .5rem;
                }

                @media (max-width: 900px) {
                    font-size: .85rem;
                }
        
                @media (max-width: 500px) {
                    font-size: .75rem;
                }
            }

            &-sm-divider {
                width: .1rem;
                height: 30px;
                background-color: color(tertiary);
                margin: .5rem;
                margin-left: 1rem;
                -webkit-animation: .2s ease-out .35s 1 slideInFromBottomHeadings;
                animation: .2s ease-out .35s 1 slideInFromBottomHeadings;
                animation-fill-mode: both;
            }

            &-logo {
                margin: .5rem;
                -webkit-animation: .2s ease-out .5s 1 slideInFromBottomHeadings;
                animation: .2s ease-out .5s 1 slideInFromBottomHeadings;
                animation-fill-mode: both;

                @media (max-width: 1200px) {
                    margin-top: .5rem;
                }
                
            }

        }
        
        &-title {
            font-size: 3rem;
            font-family: Butler-Bold;
            -webkit-animation: .6s ease-out .3s 1 slideInFromBottomHeadings;
            animation: .6s ease-out .3s 1 slideInFromBottomHeadings;
            animation-fill-mode: both;


            @media (max-width: 1200px) {
                font-size: 2.5rem;
            }

            @media (max-width: 900px) {
                font-size: 2.2rem;
            }
    
            @media (max-width: 500px) {
                font-size: 1.8rem;
            }
            
        }

        &-divider {
            width: 100%;
            height: .1rem;
            background-color: color(tertiary);
            margin-bottom: 1rem;
            -webkit-animation: .5s ease-out .6s 1 increaseDividerWidth;
            animation: .5s ease-out .6s 1 increaseDividerWidth;
            animation-fill-mode: both;
        }

        &-paragraph {
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-family: Morton-Regular;
            letter-spacing: 0.45px;
            -webkit-animation: .5s ease-out .6s 1 onLoadDescriptionText;
            animation: .5s ease-out .6s 1 onLoadDescriptionText;
            animation-fill-mode: both;


            @media (max-width: 900px) {
                font-size: 1.1rem;
            }
    
            @media (max-width: 500px) {
                font-size: 1rem;
            }
            
        }

        &-btn {
            margin: .5rem;
            margin-top: 1.5rem;
            color: color(tertiary);
            font-size: 14px;
            background-color: color(secondary);
            width: 150px;
            height: 40px;
            text-transform: uppercase;
            border: none;
            border-radius: 20px;
            font-family: Morton-Bold;
            letter-spacing: 4.67px;
            -webkit-animation: .5s ease-out .6s 1 slideInFromBottom;
            animation: .5s ease-out .6s 1 slideInFromBottom;
            animation-fill-mode: both;
            transition: all .6s;

            @media (max-width: 1200px) {
                width: 100%;
            }

            &:hover {
                cursor: pointer;
                background-color: color(tertiary);
                color: color(primary)
            }
        }
    }

    &-social {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 3%;

        @media (max-width: 1200px) {
            position: relative;
            width: min-content;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        &-icon {
            margin: .75rem;
            img {
                @include icon-hovered-rotation 
            }
            
            &-fb {
                -webkit-animation: .4s ease-out .2s 1 slideInFromBottom;
                animation: .4s ease-out .2s 1 slideInFromBottom;
                animation-fill-mode: both;
            }
            &-tw {
                -webkit-animation: .4s ease-out .6s 1 slideInFromBottom;
                animation: .4s ease-out .6s 1 slideInFromBottom;
                animation-fill-mode: both;
            }
            &-insta {
                -webkit-animation: .4s ease-out 1s 1 slideInFromBottom;
                animation: .4s ease-out 1s 1 slideInFromBottom;
                animation-fill-mode: both;
            }
        }
    }

    &-arrow-left {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: color(tertiary);
        bottom: 50px;
        right: 50%;
        -webkit-animation: .5s ease-out 1s 1 slideInFromBottom;
        animation: .5s ease-out 1s 1 slideInFromBottom;
        animation-fill-mode: both;
        @include arrow-hovered;

        @media (max-width: 1200px) {
            top: 500px;
            right: 50px;
        }

        @media (max-width: 900px) {
            top: 420px;
            right: 50px;
        }

        &-svg {
            margin-top: 50%;
            margin-left:50%;
            -webkit-transform: translateX(-40%) translateY(-50%) rotateZ(315deg);
            transform: translateX(-40%) translateY(-50%) rotateZ(315deg);
        }
    }
}